.grid {
  @include grid;

  &__item {
    @for $start from 1 through 12 {
      @for $end from $start through 12 {
        &--#{$start}--#{$end} {
          grid-column: #{$start} / #{$end + 1};
        }

        &--tablet--#{$start}--#{$end} {
          @include on-tablet {
            grid-column: #{$start} / #{$end + 1};
          }
        }

        &--desktop--#{$start}--#{$end} {
          @include on-desktop {
            grid-column: #{$start} / #{$end + 1};
          }
        }
      }
    }
  }
}
